.page-title {
  margin-top: 5%;
}

.hide {
  display: none;
}

.row {
  justify-content: center;
}

.icon-button {
  background: white;
  margin: 10px;
  border-radius: 4px;
  border: 2px solid #e7e7e7;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.icon-button:hover {
  background-color: #e7e7e7;
}
