.topnav-menu {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;

  &-icon {
    display: none;
  }

  &-item {
    float: left;
    display: block;
    color: #455e67;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    &:hover {
      background-color: #f8f6f6;
      color: #445d67;
      border-radius: 25px;
    }
  }

  @media screen and (max-width: 600px) {
    & {
      position: relative;
      display: block;
    }

    & a.active-item {
      display: block;
      background-color: white;
    }

    &-icon {
      float: right;
      display: block;
      cursor: pointer;
      color: white;

      &-is-open {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    &-item {
      display: none;

      &-is-open {
        float: none;
        display: block;
        text-align: left;
      }
    }
  }
}

.active-item {
  text-decoration: underline;
  color: #f39d91;
}
