.flip-container.flipped .flipper {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  transform: rotateY(180deg);
  height: 100%;
  margin: 3%;
}

.flip-container {
  margin: 1%;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  /*position: absolute;*/
  left: 0;
  top: 0;
  /*background: #ffffff 0% 0% no-repeat padding-box;*/
  box-shadow: 0px 0px 6px #76d7c4;
  border-radius: 4px;
  opacity: 1;
}

.back {
  z-index: 2;
  transform: rotateY(0deg);
}

.front {
  transform: rotateY(180deg);
}

.alphabet-letter {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #76d7c4;
  border-radius: 4px;
  opacity: 1;
}

.alphabet-letter section {
  font-size: 3em;
  color: #1f618d;
}
