.btn-close,
.btn-continue {
  border: none;
  color: white;
  padding: 8px 20px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-close {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  float: left;
}

.btn-close:hover {
  background-color: #e7e7e7;
}

.btn-continue {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  float: right;
}

.btn-continue:hover {
  background-color: #555555;
  color: white;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  border-radius: 5px;
  width: 60%;
  height: auto;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: auto; /* Enable scroll if needed */
  /* background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4); */
  background: url("https://i.postimg.cc/W3bfHPt8/nyan-cat.gif") left top
    no-repeat rgba(0, 0, 123, 0.6);
}

.hide {
  display: none;
}

.modal-header {
  padding: 2px 16px;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  color: white;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-main section {
  border: none;
}
