@import "./palette.scss";

.btn {
  margin: 10px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 11px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: white;
  cursor: pointer;
}

.btn-inactive {
  background: #{$palette-blue};
  border: 1px solid #{$palette-blue};
}
