@import "../../containers.scss";

.syllabary {
  &-board-container {
    @extend .center-content;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;

    .w-18 {
      width: 18%;
    }
    .w-30 {
      width: 30%;
    }
    .w-40 {
      width: 40%;
    }
    .w-100 {
      width: 100%;
    }
  }

  &-card-container {
    @extend .center-content;
    padding: 3px 2px;
  }
}

@media screen and (max-width: 800px) {
  .syllabary-board-container {
    display: block;

    .w-18 {
      width: unset;
    }

    .w-30 {
      width: unset;
    }

    .w-40 {
      width: unset;
    }
  }
}
